<nav>
	<div class="site-title">
		<a href="">
			<h1>Blog Ninja</h1>
		</a>
		<p>A Net Ninja Site</p>
	</div>
	<ul>
		<l1><a href="/">Blogs</a></l1>
		<l1><a href="/about">About</a></l1>
		<l1><a href="/blog/create">New Blog</a></l1>
	</ul>
</nav>
